/* NOTE: Custom fonts */
@import url('https://fonts.googleapis.com/css2?family=Goldman:wght@400;700&family=Oxanium:wght@200;400;600;800&family=Poiret+One&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;
html, 
body {
  padding: 0;
  margin: 0;
  font-family:Roboto, Oxygen, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}
@layer base {
  body {
    @apply bg-lightColor-500 text-darkColor-500 dark:bg-darkColor-500 dark:text-lightColor-500;
  }

}
a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}
/* 
@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
  body {
    color: white;
    background: black;
  }
} */
